<div class="wrapper">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin' }) do |f| %>
    <h2 class="form-signin-heading">
      <!-- <%= image_tag('logo.png', height: '100px') %> -->
      JH GitLab Cert System
    </h2>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <!-- 
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    -->

    <br>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <!-- <%= render "devise/shared/links" %> -->
</div>

<style>
/*<!-- This stype come from https://codepen.io/ace-subido/pen/Cuiep -->*/
body {
  background: #eee !important;
}

.wrapper {
  margin-top: 81px;
  margin-bottom: 81px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type=text] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type=password] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>